{% extends "template.view.html" %}
{% block body%}
    <div class = "container">
            <div class="wrapper">
                <form role="form" method="post" name="Register_Form" class="form-signin">
                    <h3 class="form-signin-heading">Register</h3>
                    <hr class="colorgraph"><br>
        
                    <input type="text" class="form-control" name="name" placeholder="Name" required="" autofocus="" />
                    <input type="text" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
                    <input type="password" class="form-control" name="passwd" placeholder="Password" required=""/>
        
                    <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Register" type="Submit">Register</button>
                </form>
            </div>
        </div>
{%endblock%}